<!DOCTYPE>

<html>

    <head>
        <title>beekeeper</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="js/bundle.js"></script>
    </head>

    <body>
        <div class="container" id="canvas-div">
            <header></header>
            <canvas id="canvas"></canvas>
        </div>
   </body>

</html>
