@font-face {
  font-family: PressStart;
  src: url('/fonts/PressStart2P.ttf');
}

body {
  background: #000000;
  font-family: PressStart;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
}

header {
  height: 2em;
}

#canvas-div {
  text-align: center;
  position: relative;
  width: 800px;
  height: 600px;
  margin: 4em auto;
}

#canvas-div canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.initials {
  position: absolute;
  top: 61%;
  left: 35%;
  width: 20%;
  padding: .5em;
  font-size: 1.8em;
  text-align: center;
  background: none;
  border-radius: 10px;
  color: #00ff00;
  border: 1px solid #770099;
  font-family: PressStart;
}

.copyright {
  margin: 4em auto;
  color: #666;
  text-align: center;
  width: 100%;
  line-height: 2em;
}

.copyright a, .copyright a:visited,
.back-link a, .back-link a:visited {
  text-decoration: none;
  color: #646;
}

.back-link a {
  padding: 1em;
}

.terms {
  margin: 2em;
  line-height: 1.5em;
}

.terms p {
  color: #666;
  padding: 1em;
}

@media (max-width: 800px) {
  #canvas-div {
    width: calc(640px);
    height: calc(480px);
  }
  .initials {
    font-size: calc(1.8em * (640 / 800));
  }
}

@media (max-width: 640px) {
  #canvas-div {
    width: calc(400px);
    height: calc(300px);
  }
  .initials {
    font-size: calc(1.8em / 2);
  }
}

