@font-face {
    font-family: PressStart;
    src: url('/fonts/PressStart2P.ttf');
}

body {
    background: #efefef;
    font-family: PressStart;
}

header {
    height: 2em;
}

#canvas-div {
    text-align: center;
}

