<!DOCTYPE>

<html>

    <head>
        <title>beekeeper</title>
        <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /> -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="icon" type="img/ico" href="images/favicon.png">
        <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript" src="js/bundle.js"></script>
    </head>

    <body>

        <% imageFiles.forEach(function(file) { %>
            <img src="images/<%= file %>.png" style="display: none;" class="preloaded-asset" />
        <% }); %>

        <% audioFiles.forEach(function(file) { %>
            <audio preload="auto" controls="none" src="audio/<%= file %>.mp3"
                   class="preloaded-asset" style="display: none;"></audio>
        <% }); %>

        <input type="hidden" name="_csrf" id="csrf-token" value="<%=csrfToken%>">
        <div id="canvas-div">
            <header></header>
            <canvas id="canvas"></canvas>
        </div>

        <div class="copyright">
          &copy; 2018 Eric Harm<br/>
          <a href="https://github.com/ericharm/beekeeper_js">Source</a> |
          <a href="terms">Terms</a>
        </div>

        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107285152-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-107285152-1');
        </script>
    </body>

</html>
